<%- include("partials/userHomeHeader"); -%>

  <h3><%=title%></h3>
  <p class="bgnew"><%=content%></p>
  <form class="" action="/editpost" method="post">
    <button class="btn btn-primary" type="submit" name="button">Edit Post</button>
    <input type="hidden" name="userId" value="<%=user._Id%>">
    <input type="hidden" name="postId" value="<%=postId%>">
  </form>
<%- include("partials/footer"); -%>
